
*.prefs

*.class

*.version

*.resources

*.xml

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

*.dat

*.ini

*.xmi

.metadata/.lock

.metadata/.log
